.page-wrapper {
  padding: 2vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 6vw;
  box-sizing: border-box;
  height: 100vh;
  .page-back {
    position: absolute;
    min-width: 7vw;
    padding: 4px;
    top: 8px;
    left: 8px;
    z-index: 9999;
  }
}

.image-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vw;
  flex: 1;
  width: 100%;
  .image-preview {
    position: relative;
    align-self: stretch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 6vw;
    width: 100%;
    .editor-title-wrapper {
      display: flex;
      flex-flow: column nowrap;
      margin: 0 8.8vw;
      .editor-title {
        font-size: 6vw;
        font-weight: bold;
      }
      .editor-desc {
        font-size: 3.2vw;
        text-align: left;
      }
    }
    .image-wrapper {
      display: flex;
      flex-flow: column nowrap;
      gap: 1.2vw;
      flex: 1;
      .image-title {
        font-size: 5vw;
        // font-weight: bold;
      }
      .canvas-wrapper {
        // flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &.hidden {
        display: none;
      }
    }

    .swiper {
      width: 100%;
      height: 100%;
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .swiper-button-prev {
        left: 0;
      }
      .swiper-button-next {
        right: 0;
      }
    }
    .enlarge-view {
      &.hidden {
        display: none;
      }
      position: absolute;
      top: 0;
      left: 0;
      width: 30vw;
      height: 30vw;
      border-radius: 15vw;
      z-index: 999;
    }
  }
}

.editor-tool {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 8vw;
  .editor-tool-item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 24vw;
    gap: 2vw;
    padding: 2vw;
    img {
      height: 8vw;
    }
  }
}
.editor-decision {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 8vw;
  padding: 2px 2vw;
  .editor-save-btn,
  .editor-cancel-btn {
    padding: 2vw;
    img {
      height: 8vw;
    }
  }
  .editor-undo-redo-btn {
    img {
      margin: 2vw 20px;
      height: 5.2vw;
    }
  }
}
